langchain
langchain_anthropic
langchain_community
langchain_text_splitters
langchain_huggingface
langchain-chroma
langchain-core
sentence-transformers
pypdf
docx2txt
python-dotenv
fastapi
uvicorn
pydantic